# Todas las Carpetas y Archivos Ignorados

# Carpetas
Desafio3.test/
Desafio4.test/
Desafio5.test/
Desafio5.test2/
Desafio3/node_modules
Desafio4/node_modules
Desafio5/node_modules
Desafio6/node_modules
chatWebSocket/node_modules
chatMessageSocket/node_modules
Desafio3.test/
Desafio3/node_modules
Desafio4.test/
Desafio4/node_modules
Desafio5.test/
Desafio5.test2/
Desafio5/node_modules
Desafio6/node_modules
chatWebSocket/node_modules
chatMessageSocket/node_modules
mySql/node_modules
mocksTest/node_modules
normalizrApps/node_modules
normalizrAndMockTest/node_modules
DesafioMockAndNormalizr/node_modules
sessionLoginCookie/node_modules
sessionStorage/node_modules
webPagePractitioner/node_modules
sessions/
sessionStorage/sessions
webPagePractitioner/.vscode
processArgv/node_modules
newProcessArgv/node_modules
clusterWorks/node_modules
LogsDebugGzip/node_modules
webTest/node_modules


# Archivos
Desafio2/info.txt
Desafio2/miArchivo.txt
Desafio2/package.json
Desafio2/package.json.coder
Desafio2/producto.txt
Desafio2/test.js
.DS_Store
webPagePractitioner/.env
webTest/.env
webTest/logs/logs.log